#registerModal.modal.fade(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Registrarse
        button.btn-close(type="button" data-bs-dismiss="modal")
      .modal-body
        form#formRegister
          .mb-3
            label.form-label(for="registerEmail") Email
            input#registerEmail.form-control(type="email" required)
          .mb-3
            label.form-label(for="registerPassword") Contraseña
            input#registerPassword.form-control(type="password" required)
          .mb-3
            label.form-label(for="registerPasswordConfirm") Confirmar Contraseña
            input#registerPasswordConfirm.form-control(type="password" required)
      .modal-footer
        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
        button.btn.btn-success(type="submit") Registrarse